body {
    background-color: #dffff5;
    font-family: 'Lato', sans-serif;
    }
.container {
    float: center;
}
.menu {
    float: right;
    background-color: #dffff5
    
}
.logo {
        float: left;
      }
.header {
    display: flex;
    width: 1920px;
    height: 150px;
    text-align: left;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #dffff5), linear-gradient(to top, #77eded, #77eded);
}
.subtitlle {
    float: left;

}
h1{
    font-family: 'Lato', sans-serif;
    font-size: 15x;
    color: #002019;
    text-align: left;
}
h2{
   font-family: 'Lato', sans-serif;
    font-size: 10x;
    color: #002019;
    text-align: left;
}
button{ 
    position: relative;
    width: 100px;
    height: 45px;
    margin: 0 auto;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.chileFlag{
    background-image:url(image/chile-flagSMALL.jpg);
    box-shadow: 0px 5px 10px rgba(2, 2, 2, 0.7);
    background-repeat:no-repeat;
    width: 100px;
    height: 45px;
    background-position:center;
}
.peruFlag{
    background-image:url(image/peru-flagSMALL.jpg);
    box-shadow: 0px 5px 10px rgba(2, 2, 2, 0.7);
    background-repeat:no-repeat;
    width: 100px;
    height: 45px;
    background-position:center;}
    
.brasilFlag{
    background-image:url(image/brasil-flagSMALL.jpg);
    box-shadow: 0px 5px 10px rgba(2, 2, 2, 0.7);
    background-repeat:no-repeat;
    width: 100px;
    height: 45px;
    background-position:center;
}
.mexicoFlag{
    background-image:url(image/mexico-flagSMALL.jpg);
    box-shadow: 0px 5px 10px rgba(2, 2, 2, 0.7);
    background-repeat:no-repeat;
    width: 100px;
    height: 45px;
    background-position:center;
}
.styleSelect{
    background-color:#77eded;
    font-family: 'Lato', sans-serif;
    color: #002019;
    font-size:15px;
    border: none;
    width:200px;
    height:35px;
}